html, body, * {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, li, a {
    font-family: "Tahoma", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

h1 {
    font-size: 2em;
    font-weight: 400;
}

h2 {
    font-size: 36px;
}

.sr-only {
    width:0;
    height:0;
    position: absolute;
    left: -1000px;
}

p, li {
    font-size: 18px;
}

.p-2 {
    padding: 2rem;
}

.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.p-1 {
    padding: 1rem;
}

.py-1\/2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pt-1 {
    padding-top: 1rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

#topbar {
    position:fixed;
    left: 0;
    top: 0;
    width: 100vw;
    display: flex;
    z-index: 9999;
    justify-content: center;
    background-color:white;
}

#topbar #tappbuildslandscapelogo {
    width: 200px;
    display: flex;
}

#topbar #tappbuildslandscapelogo a {
    display: inline-block;
    text-decoration: none;
    display: flex;
}

#topbar #tappbuildslandscapelogo img {
    width: 100%;
}

#topbar #tappbuildslandscapelogo.homepageheaderlogo h1 {
    color: #FFF;
}

.topbarunderlay {
    height: 100px;
}

#tapemeasuremenu {
    width: 31px;
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 11px;
    padding-right: 11px;
    padding-bottom: 11px;
    cursor: pointer;
}

#tapemeasuremenu .line {
    background-color: black;
    height: 1px;
}

.long {
    width: 20px;
}

.short {
    width: 10px;
}

nav {
    position: fixed;
    color: #000;
    z-index: 9999;
    top: 2rem;
    display: flex;
    width: 100vw;
    justify-content:center;
    background-color: white;
}

nav#mainmenu.homepagemenu {
    background-color: transparent;
    color: #FFF;
    box-shadow: none;
}

nav ul {
    list-style: none;
    display:flex;
}

nav ul a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    width: 100%;
}

nav#mainmenu.homepagemenu ul a {
    color: #FFF;
}

#tappbuildslandscapelogo.homepageheaderlogo h1 {
    color: #FFF;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main video {
    max-width:960px;
    margin: auto;
}

.projectImages {
    display: grid;
    flex-direction: column;
    gap: 1em;
    max-width: 1200px;
    width: calc(100vw - 2em);
}

.projectImages .hero {
    aspect-ratio: 16/8;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projectImages img{
    width: 100%;
    margin: auto;
}

#hero {
    /* left:0px; */
    /* top:0px; */
    /* width:100vw; */
    /* overflow:hidden; */
    width: 100%;
    /* max-width: 1400px; */
    margin: auto;
    /* height:100vh; */
    justify-content:center;
    align-items:center;
}

.hero-wrapper {
    position:relative;
    /* height: 100vh; */
}

#hero .hero-wrapper > img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center bottom;
}

#hero video {
    background-color: black;
}

#hero .hero-wrapper video {
    width: 100%;
}

#hero .overlay .overlay-wrapper {
    position: relative;
}

#hero .overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 4px;
    justify-content: center;
    align-items: center;
    width: -webkit-fill-available;
    width: fill-available;
    background-color: rgba(0,0,0,.5);
    opacity: 1;
    transition: opacity 2s ease-in;
}

#hero #replayVideo {
    font-size: 1.5rem;
    padding: 1rem;
    border: solid 2px white;
    color: white;
    border-radius: 8px;
    background-color: transparent;
    margin-top: 2rem;
    cursor: pointer;
}

#hero .overlay h1 {
    z-index: 99;
    color: white;
    text-align: center;
    font-size: 72px;
}

#hero .overlay .logo {
    max-width: 350px;
    width: 50%;
    height: 50%;
    fill: white;
}

#projectsGrid {
    padding: 6rem;
    width: 100%;
}

#projectsFlex {
    width: 100%;
    max-width: 960px;
}

#projectsGrid, #projectsFlex {
    padding: 4rem;
}

#projects {
    width: 100%;
}

#projects .three-col-grid {
    gap: 4rem;
}

#projects a {
    text-decoration: none;
    color: black;
}

.projectTitle {
    z-index: 999;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0;
}

.projectTitle:hover {
    opacity: 1;
    transition: opacity 0.5s;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em;
}

.contact img {
    max-width: 640px;
    width: 50%;
    height: auto;
}

.contact p {
    padding: 2em;
}

footer {
    /* display: grid; */
    /* grid-template-columns: repeat(4, 1fr); */
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}

footer a {
    display:block;
    /* width: 25%; */
}

footer>* {
    width:25%;
    padding: 1rem;
}

footer p {
    text-align: center;
}

footer #footerlogo {
    width: 100%;
}

footer #emailAnchor {
    text-decoration: none;
    color: #000;
}

footer #instagramAnchor {
    width: 80px;
    height: 80px;
    display: block;
}

footer #instagramlogo {
    width: 100%;
    height: 100%;
}

@media (orientation: landscape) {
    #hero > img {
        width: 100vw;
        height: 100vh;
        object-fit:cover;
    }
}

@media (orientation: landscape) and (min-aspect-ratio: 16/9) {
    .contact {
        flex-direction: row;
        height: 90vh;
    }

    .contact img {
        width: auto;
        height: 100%;
    }
}

.two-col-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.three-col-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8rem;
}

.three-col-flex {
    display: flex;
    gap: 4rem;
    justify-content: center;
    flex-wrap: wrap;
}

.three-col-flex .img-square {
    width: 234px;
    height: 234px;
}

#homeprojects ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style-type: none;
}
  
#homeprojects li {
    height: 45vh;
    flex-grow: 1;
}
  
#homeprojects img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.max-960 { 
    max-width: 960px;
}

.m-center {
    margin: auto;
}

.compact-three-col-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

@media screen and (width < 1025px) {
    .three-col-grid {
        gap: 5rem;
    }
}

@media screen and (width < 769px) {
    .three-col-grid {
        gap: 5rem;
    }

    #projectsGrid, #projectsFlex {
        padding: 3rem;
    }

    .contact {
        padding: 2em;
    }
    
    .contact img {
        max-width: 640px;
        width: 100%;
    }
}

@media screen and (width < 674px) {
    .three-col-flex {
        gap: 3rem;
    }
}

@media screen and (width < 658px) {
    .three-col-flex .img-square {
        width: 320px;
        height: 320px;
    }

    .three-col-flex {
        gap: 2rem;
    }
}

@media screen and (width < 431px) {
    .three-col-grid, .compact-three-col-grid {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    #projects .three-col-grid {
        gap: 1rem;
    }

    footer>* {
        width:100%;
    }

    footer p {
        text-align: left;
    }

    footer {
        display: block;
        max-width: 100%;
    }

    footer img {
        width: calc(100% - 4rem);
    }

    footer p:first-child {
        padding-top: 2rem;
    }

    #homeprojects li {
        height: 30vh;
        flex-grow: 1;
    }
}

.three-col-grid .img-square {
    overflow: hidden;
    position: relative;
}

.three-col-flex .img-square {
    overflow: hidden;
    position: relative;
}

.three-col-grid .img-square img {
    width: 100%;
}

.img-square::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.rect-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textblock {
    display:flex;
    width: 100%;
    max-width: 1200px;
}

.textblock-wrapper {
    max-width: 1300px;
}


@media only screen 
    and (width: 375px) 
    and (height: 667px) 
    and (-webkit-device-pixel-ratio: 2) {

    footer {
        display: block;
        max-width: 100%;
    }

    footer img {
        width: calc(100% - 4rem);
    }

    footer p:first-child {
        padding-top: 2rem;
    }
}